
<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @cocktail.name %></h1>
      <%= image_tag @cocktail.picture, class: "card" %>
    </div>
  </div>
</div>

<hr>

<h2>List of ingredients</h2>
<ul>
  <li>
    <% @doses.each do |dose| %>
      <%= dose.ingredient.name %> (<%= dose.description %>)
    <% end %>
  </li>
</ul>

<br><br>

<%= link_to "back", cocktails_path %>
